<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    AdminActionLog Mapper (FWK_USER_ACCESS_HIS)
    - INSERT / SELECT 모두 FWK_USER_ACCESS_HIS 테이블 사용
-->
<mapper namespace="com.example.admin_demo.domain.adminhistory.mapper.AdminActionLogMapper">

    <!-- ==================== INSERT ==================== -->

    <insert id="insert">
        INSERT INTO FWK_USER_ACCESS_HIS (
            USER_ID,
            ACCESS_DTIME,
            ACCESS_IP,
            ACCESS_URL,
            INPUT_DATA,
            RESULT_MESSAGE
        ) VALUES (
            #{userId,jdbcType=VARCHAR},
            #{accessDtime,jdbcType=VARCHAR},
            #{accessIp,jdbcType=VARCHAR},
            #{accessUrl,jdbcType=VARCHAR},
            #{inputData,jdbcType=VARCHAR},
            #{resultMessage,jdbcType=VARCHAR}
        )
    </insert>

    <!-- ==================== SELECT ==================== -->

    <sql id="selectColumns">
        h.USER_ID           AS userId,
        h.ACCESS_DTIME      AS accessDtime,
        h.ACCESS_IP         AS accessIp,
        h.ACCESS_URL        AS accessUrl,
        h.INPUT_DATA        AS inputData,
        h.RESULT_MESSAGE    AS resultMessage
    </sql>

    <sql id="fromTable">
        FROM FWK_USER_ACCESS_HIS h
    </sql>

    <sql id="searchConditions">
        <where>
            <if test="searchDTO.userId != null and searchDTO.userId != ''">
                AND h.USER_ID LIKE '%' || #{searchDTO.userId} || '%'
            </if>
            <if test="searchDTO.accessIp != null and searchDTO.accessIp != ''">
                AND h.ACCESS_IP LIKE '%' || #{searchDTO.accessIp} || '%'
            </if>
            <if test="searchDTO.accessUrl != null and searchDTO.accessUrl != ''">
                AND h.ACCESS_URL LIKE '%' || #{searchDTO.accessUrl} || '%'
            </if>
            <if test="searchDTO.startDate != null and searchDTO.startDate != ''">
                AND h.ACCESS_DTIME &gt;= #{searchDTO.startDate}
            </if>
            <if test="searchDTO.endDate != null and searchDTO.endDate != ''">
                AND h.ACCESS_DTIME &lt;= #{searchDTO.endDate}
            </if>
        </where>
    </sql>

    <sql id="orderBy">
        <choose>
            <when test="searchDTO.sortBy == 'userId'">ORDER BY h.USER_ID <if test="searchDTO.sortDirection == 'DESC'">DESC</if></when>
            <when test="searchDTO.sortBy == 'accessDtime'">ORDER BY h.ACCESS_DTIME <if test="searchDTO.sortDirection == 'DESC'">DESC</if></when>
            <when test="searchDTO.sortBy == 'accessIp'">ORDER BY h.ACCESS_IP <if test="searchDTO.sortDirection == 'DESC'">DESC</if></when>
            <when test="searchDTO.sortBy == 'accessUrl'">ORDER BY h.ACCESS_URL <if test="searchDTO.sortDirection == 'DESC'">DESC</if></when>
            <otherwise>ORDER BY h.ACCESS_DTIME DESC</otherwise>
        </choose>
    </sql>

    <!-- 페이징 조회 -->
    <select id="searchLogs" resultType="com.example.admin_demo.domain.adminhistory.dto.AdminActionLogResponse">
        SELECT * FROM (
            SELECT INNER_QRY.*, ROWNUM AS RNUM FROM (
                SELECT
                <include refid="selectColumns"/>
                <include refid="fromTable"/>
                <include refid="searchConditions"/>
                <include refid="orderBy"/>
            ) INNER_QRY
            WHERE ROWNUM <![CDATA[<=]]> #{endRow}
        ) WHERE RNUM > #{offset}
    </select>

    <!-- 건수 조회 -->
    <select id="countSearchLogs" resultType="long">
        SELECT COUNT(*)
        <include refid="fromTable"/>
        <include refid="searchConditions"/>
    </select>

    <!-- 엑셀 내보내기 (페이징 없음) -->
    <select id="findAllForExport" resultType="com.example.admin_demo.domain.adminhistory.dto.AdminActionLogResponse">
        SELECT
        <include refid="selectColumns"/>
        <include refid="fromTable"/>
        <include refid="searchConditions"/>
        <include refid="orderBy"/>
    </select>

</mapper>
