<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- React 코드 생성 이력 Table Fragment -->
<div th:fragment="table" class="table-responsive">
    <table class="table table-sm table-hover sp-data-grid" id="reactHisTable">
        <thead class="table-light">
            <tr>
                <th class="text-center" style="width: 50px;">No</th>
                <th style="min-width: 180px;">화면 제목</th>
                <th style="min-width: 160px;">컴포넌트명</th>
                <th class="text-center" style="width: 110px;">상태</th>
                <th class="text-center" style="width: 90px;">생성자</th>
                <th class="text-center" style="width: 140px;">생성일시</th>
                <th class="text-center" style="width: 70px;">상세</th>
            </tr>
        </thead>
        <tbody id="reactHisTableBody">
            <tr>
                <td colspan="7" class="text-center py-4 text-body-secondary">
                    조회 버튼을 클릭하여 데이터를 불러오세요.
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
