<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin_demo.domain.listenertrx.mapper.ListenerConnectorMappingMapper">

    <sql id="listenerConnectorMappingColumns">
        lcm.LISTENER_GW_ID      AS listenerGwId,
        lcm.LISTENER_SYSTEM_ID  AS listenerSystemId,
        lcm.IDENTIFIER          AS identifier,
        lcm.CONNECTOR_GW_ID     AS connectorGwId,
        lcm.CONNECTOR_SYSTEM_ID AS connectorSystemId,
        lcm.DESCRIPTION         AS description
    </sql>

    <sql id="fromListenerConnectorMapping">
        FROM FWK_LISTENER_CONNECTOR_MAPPING lcm
    </sql>

    <select id="selectResponseByPk" resultType="com.example.admin_demo.domain.listenertrx.dto.ListenerConnectorMappingResponse">
        SELECT <include refid="listenerConnectorMappingColumns"/>
        <include refid="fromListenerConnectorMapping"/>
        WHERE lcm.LISTENER_GW_ID = #{listenerGwId}
          AND lcm.LISTENER_SYSTEM_ID = #{listenerSystemId}
          AND lcm.IDENTIFIER = #{identifier}
    </select>

    <select id="countByPk" resultType="int">
        SELECT COUNT(*) FROM FWK_LISTENER_CONNECTOR_MAPPING
        WHERE LISTENER_GW_ID = #{listenerGwId}
          AND LISTENER_SYSTEM_ID = #{listenerSystemId}
          AND IDENTIFIER = #{identifier}
    </select>

    <insert id="insert">
        INSERT INTO FWK_LISTENER_CONNECTOR_MAPPING (
            LISTENER_GW_ID,
            LISTENER_SYSTEM_ID,
            IDENTIFIER,
            CONNECTOR_GW_ID,
            CONNECTOR_SYSTEM_ID,
            DESCRIPTION
        ) VALUES (
            #{dto.listenerGwId},
            #{dto.listenerSystemId},
            #{dto.identifier},
            #{dto.connectorGwId},
            #{dto.connectorSystemId},
            #{dto.description}
        )
    </insert>

    <insert id="insertBatch">
        INSERT INTO FWK_LISTENER_CONNECTOR_MAPPING (
            LISTENER_GW_ID, LISTENER_SYSTEM_ID, IDENTIFIER,
            CONNECTOR_GW_ID, CONNECTOR_SYSTEM_ID, DESCRIPTION
        )
        SELECT A.* FROM (
        <foreach collection="list" item="item" separator=" UNION ALL ">
            SELECT #{item.listenerGwId} AS LISTENER_GW_ID,
                   #{item.listenerSystemId} AS LISTENER_SYSTEM_ID,
                   #{item.identifier} AS IDENTIFIER,
                   #{item.connectorGwId} AS CONNECTOR_GW_ID,
                   #{item.connectorSystemId} AS CONNECTOR_SYSTEM_ID,
                   #{item.description} AS DESCRIPTION
            FROM DUAL
        </foreach>
        ) A
    </insert>

    <update id="update">
        UPDATE FWK_LISTENER_CONNECTOR_MAPPING
        SET
            CONNECTOR_GW_ID = #{dto.connectorGwId},
            CONNECTOR_SYSTEM_ID = #{dto.connectorSystemId},
            DESCRIPTION = #{dto.description}
        WHERE LISTENER_GW_ID = #{listenerGwId}
          AND LISTENER_SYSTEM_ID = #{listenerSystemId}
          AND IDENTIFIER = #{identifier}
    </update>

    <delete id="deleteByPk">
        DELETE FROM FWK_LISTENER_CONNECTOR_MAPPING
        WHERE LISTENER_GW_ID = #{listenerGwId}
          AND LISTENER_SYSTEM_ID = #{listenerSystemId}
          AND IDENTIFIER = #{identifier}
    </delete>


    <!-- ==================== Query (merged) ==================== -->


    <select id="findAll" resultType="com.example.admin_demo.domain.listenertrx.dto.ListenerConnectorMappingResponse">
        SELECT <include refid="listenerConnectorMappingColumns"/>
        <include refid="fromListenerConnectorMapping"/>
        ORDER BY lcm.LISTENER_GW_ID, lcm.LISTENER_SYSTEM_ID, lcm.IDENTIFIER
    </select>

    <select id="findBySearchPaging" resultType="com.example.admin_demo.domain.listenertrx.dto.ListenerConnectorMappingResponse">
        <bind name="orderColumn" value="
            (sortBy == 'listenerGwId') ? 'lcm.LISTENER_GW_ID' :
            (sortBy == 'listenerSystemId') ? 'lcm.LISTENER_SYSTEM_ID' :
            (sortBy == 'identifier') ? 'lcm.IDENTIFIER' :
            (sortBy == 'connectorGwId') ? 'lcm.CONNECTOR_GW_ID' :
            (sortBy == 'connectorSystemId') ? 'lcm.CONNECTOR_SYSTEM_ID' :
            (sortBy == 'description') ? 'lcm.DESCRIPTION' :
            'lcm.LISTENER_GW_ID'
        "/>
        <bind name="orderDir" value="(sortDirection != null &amp;&amp; sortDirection.toUpperCase() == 'DESC') ? 'DESC' : 'ASC'"/>
        SELECT * FROM (
            SELECT
                <include refid="listenerConnectorMappingColumns"/>,
                ROW_NUMBER() OVER (ORDER BY ${orderColumn} ${orderDir}) AS RN
            <include refid="fromListenerConnectorMapping"/>
            <where>
                <if test="listenerGwId != null and listenerGwId != ''">
                    AND lcm.LISTENER_GW_ID LIKE '%' || #{listenerGwId} || '%'
                </if>
                <if test="listenerSystemId != null and listenerSystemId != ''">
                    AND lcm.LISTENER_SYSTEM_ID LIKE '%' || #{listenerSystemId} || '%'
                </if>
                <if test="identifier != null and identifier != ''">
                    AND lcm.IDENTIFIER LIKE '%' || #{identifier} || '%'
                </if>
                <if test="connectorGwId != null and connectorGwId != ''">
                    AND lcm.CONNECTOR_GW_ID LIKE '%' || #{connectorGwId} || '%'
                </if>
                <if test="connectorSystemId != null and connectorSystemId != ''">
                    AND lcm.CONNECTOR_SYSTEM_ID LIKE '%' || #{connectorSystemId} || '%'
                </if>
            </where>
        )
        WHERE RN BETWEEN #{offset} + 1 AND #{offset} + #{limit}
        ORDER BY RN
    </select>

    <select id="countBySearch" resultType="long">
        SELECT COUNT(*)
        <include refid="fromListenerConnectorMapping"/>
        <where>
            <if test="listenerGwId != null and listenerGwId != ''">
                AND lcm.LISTENER_GW_ID LIKE '%' || #{listenerGwId} || '%'
            </if>
            <if test="listenerSystemId != null and listenerSystemId != ''">
                AND lcm.LISTENER_SYSTEM_ID LIKE '%' || #{listenerSystemId} || '%'
            </if>
            <if test="identifier != null and identifier != ''">
                AND lcm.IDENTIFIER LIKE '%' || #{identifier} || '%'
            </if>
            <if test="connectorGwId != null and connectorGwId != ''">
                AND lcm.CONNECTOR_GW_ID LIKE '%' || #{connectorGwId} || '%'
            </if>
            <if test="connectorSystemId != null and connectorSystemId != ''">
                AND lcm.CONNECTOR_SYSTEM_ID LIKE '%' || #{connectorSystemId} || '%'
            </if>
        </where>
    </select>

    <select id="findAllForExport" resultType="com.example.admin_demo.domain.listenertrx.dto.ListenerConnectorMappingResponse">
        <bind name="orderColumn" value="
            (sortBy == 'listenerGwId') ? 'lcm.LISTENER_GW_ID' :
            (sortBy == 'listenerSystemId') ? 'lcm.LISTENER_SYSTEM_ID' :
            (sortBy == 'identifier') ? 'lcm.IDENTIFIER' :
            (sortBy == 'connectorGwId') ? 'lcm.CONNECTOR_GW_ID' :
            (sortBy == 'connectorSystemId') ? 'lcm.CONNECTOR_SYSTEM_ID' :
            (sortBy == 'description') ? 'lcm.DESCRIPTION' :
            'lcm.LISTENER_GW_ID'
        "/>
        <bind name="orderDir" value="(sortDirection != null &amp;&amp; sortDirection.toUpperCase() == 'DESC') ? 'DESC' : 'ASC'"/>
        SELECT
            <include refid="listenerConnectorMappingColumns"/>
        <include refid="fromListenerConnectorMapping"/>
        <where>
            <if test="listenerGwId != null and listenerGwId != ''">
                AND lcm.LISTENER_GW_ID LIKE '%' || #{listenerGwId} || '%'
            </if>
            <if test="listenerSystemId != null and listenerSystemId != ''">
                AND lcm.LISTENER_SYSTEM_ID LIKE '%' || #{listenerSystemId} || '%'
            </if>
            <if test="identifier != null and identifier != ''">
                AND lcm.IDENTIFIER LIKE '%' || #{identifier} || '%'
            </if>
            <if test="connectorGwId != null and connectorGwId != ''">
                AND lcm.CONNECTOR_GW_ID LIKE '%' || #{connectorGwId} || '%'
            </if>
            <if test="connectorSystemId != null and connectorSystemId != ''">
                AND lcm.CONNECTOR_SYSTEM_ID LIKE '%' || #{connectorSystemId} || '%'
            </if>
        </where>
        ORDER BY ${orderColumn} ${orderDir}
    </select>


</mapper>
