<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin_demo.domain.listenertrx.mapper.ListenerTrxMessageMapper">

    <!-- ==================== Common definitions ==================== -->

    <sql id="listenerTrxMessageColumns">
        ltm.GW_ID       AS gwId,
        ltm.REQ_ID_CODE AS reqIdCode,
        ltm.TRX_ID      AS trxId,
        ltm.ORG_ID      AS orgId,
        ltm.IO_TYPE      AS ioType,
        ltm.BIZ_APP_ID  AS bizAppId,
        g.GW_NAME        AS gwName,
        o.ORG_NAME       AS orgName,
        t.TRX_NAME       AS trxName
    </sql>

    <sql id="fromListenerTrxMessage">
        FROM FWK_LISTENER_TRX_MESSAGE ltm
        LEFT JOIN FWK_GATEWAY g ON ltm.GW_ID = g.GW_ID
        LEFT JOIN FWK_ORG o ON ltm.ORG_ID = o.ORG_ID
        LEFT JOIN FWK_TRX t ON ltm.TRX_ID = t.TRX_ID
    </sql>

    <!-- ==================== Command ==================== -->

    <select id="selectResponseByPk" resultType="com.example.admin_demo.domain.listenertrx.dto.AppMappingResponse">
        SELECT <include refid="listenerTrxMessageColumns"/>
        <include refid="fromListenerTrxMessage"/>
        WHERE ltm.GW_ID = #{gwId}
          AND ltm.REQ_ID_CODE = #{reqIdCode}
    </select>

    <select id="countByPk" resultType="int">
        SELECT COUNT(*) FROM FWK_LISTENER_TRX_MESSAGE
        WHERE GW_ID = #{gwId}
          AND REQ_ID_CODE = #{reqIdCode}
    </select>

    <insert id="insert">
        INSERT INTO FWK_LISTENER_TRX_MESSAGE (
            GW_ID,
            REQ_ID_CODE,
            TRX_ID,
            ORG_ID,
            IO_TYPE,
            BIZ_APP_ID
        ) VALUES (
            #{dto.gwId},
            #{dto.reqIdCode},
            #{dto.trxId, jdbcType=VARCHAR},
            #{dto.orgId, jdbcType=VARCHAR},
            #{dto.ioType, jdbcType=VARCHAR},
            #{dto.bizAppId, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update">
        UPDATE FWK_LISTENER_TRX_MESSAGE
        SET
            TRX_ID = #{dto.trxId, jdbcType=VARCHAR},
            ORG_ID = #{dto.orgId, jdbcType=VARCHAR},
            IO_TYPE = #{dto.ioType, jdbcType=VARCHAR},
            BIZ_APP_ID = #{dto.bizAppId, jdbcType=VARCHAR}
        WHERE GW_ID = #{gwId}
          AND REQ_ID_CODE = #{reqIdCode}
    </update>

    <delete id="deleteByPk">
        DELETE FROM FWK_LISTENER_TRX_MESSAGE
        WHERE GW_ID = #{gwId}
          AND REQ_ID_CODE = #{reqIdCode}
    </delete>


    <!-- ==================== Query (merged) ==================== -->


    <!-- ==================== 검색 조건 WHERE ==================== -->

    <sql id="searchConditions">
        <if test="gwId != null and gwId != ''">
            AND ltm.GW_ID LIKE '%' || #{gwId} || '%'
        </if>
        <if test="orgId != null and orgId != ''">
            AND ltm.ORG_ID = #{orgId}
        </if>
        <if test="reqIdCode != null and reqIdCode != ''">
            AND ltm.REQ_ID_CODE LIKE '%' || #{reqIdCode} || '%'
        </if>
        <if test="trxKeyword != null and trxKeyword != ''">
            AND (ltm.TRX_ID LIKE '%' || #{trxKeyword} || '%'
                 OR t.TRX_NAME LIKE '%' || #{trxKeyword} || '%')
        </if>
        <if test="bizAppId != null and bizAppId != ''">
            AND ltm.BIZ_APP_ID LIKE '%' || #{bizAppId} || '%'
        </if>
    </sql>

    <!-- 검색 조건 목록 조회 (ROWNUM 페이징) -->
    <select id="findBySearch" resultType="com.example.admin_demo.domain.listenertrx.dto.AppMappingResponse">
        SELECT * FROM (
            SELECT INNER_QRY.*, ROWNUM AS RNUM FROM (
                SELECT
                    <include refid="listenerTrxMessageColumns"/>
                <include refid="fromListenerTrxMessage"/>
                <where>
                    <include refid="searchConditions"/>
                </where>
                ORDER BY
                <choose>
                    <when test="sortBy == 'gwId'">ltm.GW_ID</when>
                    <when test="sortBy == 'gwName'">g.GW_NAME</when>
                    <when test="sortBy == 'orgId'">ltm.ORG_ID</when>
                    <when test="sortBy == 'orgName'">o.ORG_NAME</when>
                    <when test="sortBy == 'reqIdCode'">ltm.REQ_ID_CODE</when>
                    <when test="sortBy == 'bizAppId'">ltm.BIZ_APP_ID</when>
                    <when test="sortBy == 'trxName'">t.TRX_NAME</when>
                    <otherwise>ltm.GW_ID, ltm.REQ_ID_CODE</otherwise>
                </choose>
                <if test="sortBy != null and sortBy != ''">
                    <choose>
                        <when test="sortDirection == 'DESC'"> DESC</when>
                        <otherwise> ASC</otherwise>
                    </choose>
                </if>
            ) INNER_QRY
            WHERE ROWNUM <![CDATA[<=]]> #{endRow}
        ) WHERE RNUM > #{offset}
    </select>

    <!-- 검색 조건 건수 조회 -->
    <select id="countBySearch" resultType="long">
        SELECT COUNT(*)
        <include refid="fromListenerTrxMessage"/>
        <where>
            <include refid="searchConditions"/>
        </where>
    </select>

    <!-- 엑셀 내보내기용 전체 조회 (페이징 없음) -->
    <select id="findAllForExport" resultType="com.example.admin_demo.domain.listenertrx.dto.AppMappingResponse">
        SELECT
            <include refid="listenerTrxMessageColumns"/>
        <include refid="fromListenerTrxMessage"/>
        <where>
            <include refid="searchConditions"/>
        </where>
        ORDER BY
        <choose>
            <when test="sortBy == 'gwId'">ltm.GW_ID</when>
            <when test="sortBy == 'gwName'">g.GW_NAME</when>
            <when test="sortBy == 'orgId'">ltm.ORG_ID</when>
            <when test="sortBy == 'orgName'">o.ORG_NAME</when>
            <when test="sortBy == 'reqIdCode'">ltm.REQ_ID_CODE</when>
            <when test="sortBy == 'bizAppId'">ltm.BIZ_APP_ID</when>
            <when test="sortBy == 'trxName'">t.TRX_NAME</when>
            <otherwise>ltm.GW_ID, ltm.REQ_ID_CODE</otherwise>
        </choose>
        <if test="sortBy != null and sortBy != ''">
            <choose>
                <when test="sortDirection == 'DESC'"> DESC</when>
                <otherwise> ASC</otherwise>
            </choose>
        </if>
    </select>


</mapper>
