<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    BatchHis Mapper
    - CRUD + Query 작업 담당
    - Entity 없이 개별 @Param 또는 DTO 직접 반환 (resultType + AS alias)
-->
<mapper namespace="com.example.admin_demo.domain.batch.mapper.BatchHisMapper">

    <!-- ==================== 생성 ==================== -->

    <insert id="insertBatchHis">
        INSERT INTO FWK_BATCH_HIS (
            BATCH_APP_ID,
            INSTANCE_ID,
            BATCH_DATE,
            BATCH_EXECUTE_SEQ,
            LOG_DTIME,
            RES_RT_CODE,
            LAST_UPDATE_USER_ID
        ) VALUES (
            #{batchAppId, jdbcType=VARCHAR},
            #{instanceId, jdbcType=VARCHAR},
            #{batchDate, jdbcType=VARCHAR},
            #{batchExecuteSeq, jdbcType=INTEGER},
            #{logDtime, jdbcType=VARCHAR},
            #{resRtCode, jdbcType=VARCHAR},
            #{lastUpdateUserId, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 배치 실행 이력 일괄 등록 (Oracle UNION ALL 패턴) -->
    <insert id="insertBatchHisBatch">
        INSERT INTO FWK_BATCH_HIS (
            BATCH_APP_ID, INSTANCE_ID, BATCH_DATE, BATCH_EXECUTE_SEQ,
            LOG_DTIME, RES_RT_CODE, LAST_UPDATE_USER_ID
        )
        SELECT A.* FROM (
        <foreach collection="list" item="item" separator=" UNION ALL ">
            SELECT #{item.batchAppId, jdbcType=VARCHAR} AS BATCH_APP_ID,
                   #{item.instanceId, jdbcType=VARCHAR} AS INSTANCE_ID,
                   #{item.batchDate, jdbcType=VARCHAR} AS BATCH_DATE,
                   #{item.batchExecuteSeq, jdbcType=INTEGER} AS BATCH_EXECUTE_SEQ,
                   #{item.logDtime, jdbcType=VARCHAR} AS LOG_DTIME,
                   #{item.resRtCode, jdbcType=VARCHAR} AS RES_RT_CODE,
                   #{item.lastUpdateUserId, jdbcType=VARCHAR} AS LAST_UPDATE_USER_ID
            FROM DUAL
        </foreach>
        ) A
    </insert>

    <!-- ==================== 상태 업데이트 ==================== -->

    <!--
        TODO: WAS 측 배치 실행 API 구현 후, 이 UPDATE는 WAS에서 직접 수행하도록 이관.
        현재는 Admin 서버에서 임시로 처리.
    -->
    <update id="updateBatchHisResult">
        UPDATE FWK_BATCH_HIS
        SET RES_RT_CODE = #{resRtCode, jdbcType=VARCHAR},
            BATCH_END_DTIME = #{batchEndDtime, jdbcType=VARCHAR},
            ERROR_REASON = #{errorReason, jdbcType=VARCHAR},
            LAST_UPDATE_USER_ID = #{lastUpdateUserId, jdbcType=VARCHAR}
        WHERE BATCH_APP_ID = #{batchAppId, jdbcType=VARCHAR}
          AND INSTANCE_ID = #{instanceId, jdbcType=VARCHAR}
          AND BATCH_DATE = #{batchDate, jdbcType=VARCHAR}
          AND BATCH_EXECUTE_SEQ = #{batchExecuteSeq, jdbcType=INTEGER}
    </update>

    <!-- ==================== 실행 가드 ==================== -->

    <select id="countExecutingByBatchAppId" resultType="int">
        SELECT COUNT(*)
        FROM FWK_BATCH_HIS
        WHERE BATCH_APP_ID = #{batchAppId}
          AND RES_RT_CODE = '0'
    </select>

    <select id="selectLatestStatusByBatchAppId" resultType="string">
        SELECT RES_RT_CODE
        FROM (
            SELECT RES_RT_CODE
            FROM FWK_BATCH_HIS
            WHERE BATCH_APP_ID = #{batchAppId}
            ORDER BY BATCH_DATE DESC, BATCH_EXECUTE_SEQ DESC
        )
        WHERE ROWNUM = 1
    </select>

    <!-- ==================== 단건 조회 ==================== -->

    <select id="selectNextExecuteSeq" resultType="int">
        SELECT NVL(MAX(BATCH_EXECUTE_SEQ), 0) + 1
        FROM FWK_BATCH_HIS
        WHERE BATCH_APP_ID = #{batchAppId}
          AND INSTANCE_ID = #{instanceId}
          AND BATCH_DATE = #{batchDate}
    </select>

    <!-- ==================== 삭제 (이력 정리용) ==================== -->

    <!-- 특정 날짜 이전 배치 이력 삭제 -->
    <delete id="deleteByBatchDateBefore">
        DELETE FROM FWK_BATCH_HIS
        WHERE BATCH_DATE &lt; #{batchDate, jdbcType=VARCHAR}
    </delete>
    <!-- TEST-ONLY: 특정 배치 앱/인스턴스(선택: 배치일자) 이력 삭제 -->
    <delete id="deleteByTargetForTest">
        DELETE FROM FWK_BATCH_HIS
        WHERE BATCH_APP_ID = #{batchAppId, jdbcType=VARCHAR}
          AND INSTANCE_ID = #{instanceId, jdbcType=VARCHAR}
        <if test="batchDate != null and batchDate != ''">
          AND BATCH_DATE = #{batchDate, jdbcType=VARCHAR}
        </if>
    </delete>

    <!-- 삭제 대상 건수 조회 -->
    <select id="countByBatchDateBefore" resultType="int">
        SELECT COUNT(*)
        FROM FWK_BATCH_HIS
        WHERE BATCH_DATE &lt; #{batchDate, jdbcType=VARCHAR}
    </select>


    <!-- ==================== SQL Fragment 정의 ==================== -->

    <sql id="batchHisColumns">
        h.BATCH_APP_ID       AS batchAppId,
        h.INSTANCE_ID        AS instanceId,
        h.BATCH_DATE         AS batchDate,
        h.BATCH_EXECUTE_SEQ  AS batchExecuteSeq,
        h.LOG_DTIME          AS logDtime,
        h.BATCH_END_DTIME    AS batchEndDtime,
        h.RES_RT_CODE        AS resRtCode,
        h.LAST_UPDATE_USER_ID AS lastUpdateUserId,
        h.ERROR_CODE         AS errorCode,
        h.ERROR_REASON       AS errorReason,
        h.RECORD_COUNT       AS recordCount,
        h.EXECUTE_COUNT      AS executeCount,
        h.SUCCESS_COUNT      AS successCount,
        h.FAIL_COUNT         AS failCount,
        b.BATCH_APP_NAME     AS batchAppName,
        w.INSTANCE_NAME      AS instanceName
    </sql>

    <sql id="fromBatchHisWithJoins">
        FROM FWK_BATCH_HIS h
        LEFT JOIN FWK_BATCH_APP b ON h.BATCH_APP_ID = b.BATCH_APP_ID
        LEFT JOIN FWK_WAS_INSTANCE w ON h.INSTANCE_ID = w.INSTANCE_ID
    </sql>

    <!-- ==================== 공통 검색 조건 ==================== -->

    <sql id="searchConditionsBatchHis">
        <if test="search.batchAppId != null and search.batchAppId != ''">
            AND UPPER(h.BATCH_APP_ID) LIKE '%' || UPPER(#{search.batchAppId}) || '%'
        </if>
        <if test="search.instanceId != null and search.instanceId != ''">
            AND h.INSTANCE_ID = #{search.instanceId}
        </if>
        <if test="search.resRtCode != null and search.resRtCode != ''">
            AND h.RES_RT_CODE = #{search.resRtCode}
        </if>
        <if test="search.batchDate != null and search.batchDate != ''">
            AND h.BATCH_DATE = #{search.batchDate}
        </if>
    </sql>

    <sql id="orderByBatchHis">
        ORDER BY
        <choose>
            <when test="search.sortBy == 'batchAppId'">h.BATCH_APP_ID</when>
            <when test="search.sortBy == 'instanceId'">h.INSTANCE_ID</when>
            <when test="search.sortBy == 'batchExecuteSeq'">h.BATCH_EXECUTE_SEQ</when>
            <when test="search.sortBy == 'batchDate'">h.BATCH_DATE</when>
            <when test="search.sortBy == 'logDtime'">h.LOG_DTIME</when>
            <when test="search.sortBy == 'batchEndDtime'">h.BATCH_END_DTIME</when>
            <when test="search.sortBy == 'resRtCode'">h.RES_RT_CODE</when>
            <when test="search.sortBy == 'lastUpdateUserId'">h.LAST_UPDATE_USER_ID</when>
            <when test="search.sortBy == 'recordCount'">h.RECORD_COUNT</when>
            <when test="search.sortBy == 'successCount'">h.SUCCESS_COUNT</when>
            <when test="search.sortBy == 'failCount'">h.FAIL_COUNT</when>
            <when test="search.sortBy == 'errorCode'">h.ERROR_CODE</when>
            <otherwise>h.LOG_DTIME</otherwise>
        </choose>
        <choose>
            <when test="search.sortDirection == 'ASC'"> ASC</when>
            <when test="search.sortDirection == 'DESC'"> DESC</when>
            <otherwise> DESC</otherwise>
        </choose>
    </sql>

    <!-- ==================== 목록 조회 ==================== -->

    <!-- 배치 실행 이력 목록 조회 (검색 + 페이지네이션) -->
    <select id="findAllWithSearch"
            resultType="com.example.admin_demo.domain.batch.dto.BatchHisResponse">
        SELECT * FROM (
            SELECT INNER_QRY.*, ROWNUM AS RNUM FROM (
                SELECT
                <include refid="batchHisColumns"/>
                <include refid="fromBatchHisWithJoins"/>
                WHERE 1=1
                <include refid="searchConditionsBatchHis"/>
                <include refid="orderByBatchHis"/>
            ) INNER_QRY
            WHERE ROWNUM &lt;= #{endRow}
        )
        WHERE RNUM &gt; #{offset}
    </select>

    <!-- 배치 실행 이력 건수 조회 -->
    <select id="countAllWithSearch" resultType="long">
        SELECT COUNT(*)
        <include refid="fromBatchHisWithJoins"/>
        WHERE 1=1
        <include refid="searchConditionsBatchHis"/>
    </select>

    <!-- 배치 실행 이력 단건 조회 (조인 포함) -->
    <select id="findByIdWithDetails" resultType="com.example.admin_demo.domain.batch.dto.BatchHisResponse">
        SELECT
        <include refid="batchHisColumns"/>
        <include refid="fromBatchHisWithJoins"/>
        WHERE h.BATCH_APP_ID = #{batchAppId}
          AND h.INSTANCE_ID = #{instanceId}
          AND h.BATCH_DATE = #{batchDate}
          AND h.BATCH_EXECUTE_SEQ = #{batchExecuteSeq}
    </select>

    <!-- 배치 실행 이력 전체 조회 (엑셀 내보내기용) -->
    <select id="findAllForExport"
            resultType="com.example.admin_demo.domain.batch.dto.BatchHisResponse">
        SELECT
        <include refid="batchHisColumns"/>
        <include refid="fromBatchHisWithJoins"/>
        WHERE 1=1
        <include refid="searchConditionsBatchHis"/>
        <include refid="orderByBatchHis"/>
    </select>


</mapper>
