<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin_demo.domain.bizgroup.mapper.BizGroupMapper">

    <select id="findAll"
            resultType="com.example.admin_demo.domain.bizgroup.dto.BizGroupResponse">
        SELECT BIZ_GROUP_ID AS bizGroupId, BIZ_GROUP_NAME AS bizGroupName
        FROM FWK_BIZ_GROUP
        ORDER BY BIZ_GROUP_ID
    </select>

</mapper>
