<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Monitor Search Fragment -->
<div th:fragment="search" class="card border p-2 mb-3">
    <div class="d-flex flex-wrap align-items-center gap-2 mb-1">
        <!-- Left Side Components -->
        <select id="searchField" class="form-select form-select-sm flex-fixed-120">
            <option value="monitorId">모니터ID</option>
            <option value="monitorName">모니터명</option>
        </select>
        <input type="text" id="searchValue" class="form-control form-control-sm flex-fixed-180" placeholder=""
               onkeypress="if(event.key === 'Enter') Monitors.load()">

        <!-- Spacer to push right side to the end -->
        <div class="flex-grow-1"></div>

        <!-- Right Side Components -->
        <select id="limitRows" class="form-select form-select-sm sp-limit-select">
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="1000">1000</option>
        </select>
        <label class="form-label mb-0 small fw-medium ms-1 me-2 fs-2xs">건씩</label>

        <button class="btn btn-primary btn-sm" onclick="Monitors.load()">
            <i class="bi bi-search"></i> 조회
        </button>
    </div>
</div>
</body>
</html>
