<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    TrxMessage Command Mapper (CRUD)
    - insert / update / delete / 단건 조회 (존재 확인용)
    - Trx JOIN 없이 순수 TrxMessage 테이블만 조회
    - 목록 조회, 검색 등 Query 전용 SQL은 TrxMessageQueryMapper에서 처리
-->
<mapper namespace="com.example.admin_demo.domain.trxmessage.mapper.TrxMessageMapper">

    <!-- 수정 (동적 SET) -->
    <update id="updateTrxMessage">
        UPDATE FWK_TRX_MESSAGE
        <set>
            <if test="params.messageId != null">MESSAGE_ID = #{params.messageId},</if>
            <if test="params.stdMessageId != null">STD_MESSAGE_ID = #{params.stdMessageId},</if>
            <if test="params.resMessageId != null">RES_MESSAGE_ID = #{params.resMessageId},</if>
            <if test="params.stdResMessageId != null">STD_RES_MESSAGE_ID = #{params.stdResMessageId},</if>
            <if test="params.proxyResYn != null">PROXY_RES_YN = #{params.proxyResYn},</if>
            <if test="params.proxyResData != null">PROXY_RES_DATA = #{params.proxyResData},</if>
            <if test="params.executeSeq != null">EXECUTE_SEQ = #{params.executeSeq},</if>
            <if test="params.proxyResType != null">PROXY_RES_TYPE = #{params.proxyResType},</if>
            <if test="params.hexLogYn != null">HEX_LOG_YN = #{params.hexLogYn},</if>
            <if test="params.multiResYn != null">MULTI_RES_YN = #{params.multiResYn},</if>
            <if test="params.resTypeFieldId != null">RES_TYPE_FIELD_ID = #{params.resTypeFieldId},</if>
            <if test="params.multiResType != null">MULTI_RES_TYPE = #{params.multiResType},</if>
            <if test="params.timeoutSec != null">TIMEOUT_SEC = #{params.timeoutSec},</if>
            <if test="params.legacyMessageId != null">LEGACY_MESSAGE_ID = #{params.legacyMessageId},</if>
            <if test="params.targetServiceUri != null">TARGET_SERVICE_URI = #{params.targetServiceUri},</if>
            LAST_UPDATE_DTIME = #{params.lastUpdateDtime},
            LAST_UPDATE_USER_ID = #{params.lastUpdateUserId}
        </set>
        WHERE TRX_ID = #{trxId}
          AND ORG_ID = #{orgId}
          AND IO_TYPE = #{ioType}
    </update>

    <!-- 존재 확인 (중복 체크용) -->
    <select id="countByCompositeKey" resultType="int">
        SELECT COUNT(*)
        FROM FWK_TRX_MESSAGE
        WHERE TRX_ID = #{trxId}
          AND ORG_ID = #{orgId}
          AND IO_TYPE = #{ioType}
    </select>


    <!-- ==================== SQL Fragment 정의 ==================== -->

    <!-- TrxMessage + Trx 기본 컬럼 (resultType AS aliases) -->
    <sql id="columnsWithTrxAsAliases">
        tm.TRX_ID AS trxId, tm.ORG_ID AS orgId, tm.IO_TYPE AS ioType, tm.MESSAGE_ID AS messageId,
        tm.STD_MESSAGE_ID AS stdMessageId, tm.RES_MESSAGE_ID AS resMessageId, tm.STD_RES_MESSAGE_ID AS stdResMessageId,
        tm.PROXY_RES_YN AS proxyResYn, tm.MULTI_RES_YN AS multiResYn,
        tm.MULTI_RES_TYPE AS multiResType,
        tm.HEX_LOG_YN AS hexLogYn, tm.TIMEOUT_SEC AS timeoutSec,
        tm.RES_TYPE_FIELD_ID AS resTypeFieldId, tm.EXECUTE_SEQ AS executeSeq,
        tm.PROXY_RES_TYPE AS proxyResType, tm.LEGACY_MESSAGE_ID AS legacyMessageId,
        tm.TARGET_SERVICE_URI AS targetServiceUri,
        tm.LAST_UPDATE_DTIME AS lastUpdateDtime,
        t.TRX_NAME AS trxName, t.TRX_STOP_YN AS trxStopYn, t.TRX_TYPE AS trxType,
        msg.MESSAGE_NAME AS messageName, std_msg.MESSAGE_NAME AS stdMessageName,
        res_msg.MESSAGE_NAME AS resMessageName, std_res_msg.MESSAGE_NAME AS stdResMessageName
    </sql>

    <!-- TrxMessage + Trx JOIN 절 -->
    <sql id="fromTrxMessageWithTrx">
        FROM FWK_TRX_MESSAGE tm
        INNER JOIN FWK_TRX t ON tm.TRX_ID = t.TRX_ID
        LEFT JOIN FWK_MESSAGE msg ON tm.MESSAGE_ID = msg.MESSAGE_ID AND tm.ORG_ID = msg.ORG_ID
        LEFT JOIN FWK_MESSAGE std_msg ON tm.STD_MESSAGE_ID = std_msg.MESSAGE_ID AND tm.ORG_ID = std_msg.ORG_ID
        LEFT JOIN FWK_MESSAGE res_msg ON tm.RES_MESSAGE_ID = res_msg.MESSAGE_ID AND tm.ORG_ID = res_msg.ORG_ID
        LEFT JOIN FWK_MESSAGE std_res_msg ON tm.STD_RES_MESSAGE_ID = std_res_msg.MESSAGE_ID AND tm.ORG_ID = std_res_msg.ORG_ID
    </sql>


    <!-- ==================== Query (merged) ==================== -->


    <!-- 검색 조건 (공통) -->
    <sql id="searchConditionsTrxMessage">
        <if test="searchField != null and searchValue != null and searchValue != ''">
            <choose>
                <when test="searchField == 'trxId'">
                    AND UPPER(tm.TRX_ID) LIKE '%' || UPPER(#{searchValue}) || '%'
                </when>
                <when test="searchField == 'orgId'">
                    AND UPPER(tm.ORG_ID) LIKE '%' || UPPER(#{searchValue}) || '%'
                </when>
                <when test="searchField == 'messageId'">
                    AND UPPER(tm.MESSAGE_ID) LIKE '%' || UPPER(#{searchValue}) || '%'
                </when>
                <when test="searchField == 'trxName'">
                    AND UPPER(t.TRX_NAME) LIKE '%' || UPPER(#{searchValue}) || '%'
                </when>
            </choose>
        </if>
        <if test="orgIdFilter != null and orgIdFilter != ''">
            AND UPPER(tm.ORG_ID) = UPPER(#{orgIdFilter})
        </if>
        <if test="ioTypeFilter != null and ioTypeFilter != ''">
            AND tm.IO_TYPE = #{ioTypeFilter}
        </if>
        <if test="trxIdFilter != null and trxIdFilter != ''">
            AND UPPER(tm.TRX_ID) LIKE '%' || UPPER(#{trxIdFilter}) || '%'
        </if>
        <if test="allowedOrgIds != null and allowedOrgIds.size() > 0">
            AND tm.ORG_ID IN
            <foreach item="orgId" collection="allowedOrgIds" open="(" separator="," close=")">
                #{orgId}
            </foreach>
        </if>
    </sql>

    <!-- 검색 조회 (네이티브 ROWNUM 페이징) -->
    <select id="findAllWithTrxAndSearch" resultType="com.example.admin_demo.domain.trxmessage.dto.TrxMessageWithTrxResponse">
        <choose>
            <when test="deduplicate">
                SELECT * FROM (
                    SELECT INNER_QRY.*, ROWNUM AS RNUM FROM (
                        SELECT * FROM (
                            SELECT
                                <include refid="columnsWithTrxAsAliases"/>,
                                ROW_NUMBER() OVER (
                                    PARTITION BY tm.ORG_ID, tm.TRX_ID
                                    ORDER BY
                                        CASE tm.IO_TYPE
                                            WHEN 'O' THEN 1
                                            WHEN 'I' THEN 2
                                            WHEN 'Q' THEN 3
                                            WHEN 'S' THEN 4
                                            ELSE 999
                                        END
                                ) as rn
                            <include refid="fromTrxMessageWithTrx"/>
                            <where>
                                <include refid="searchConditionsTrxMessage"/>
                            </where>
                        )
                        WHERE rn = 1
                        <choose>
                            <when test="sortBy != null and sortBy != '' and sortDirection != null and sortDirection != ''">
                                ORDER BY
                                <choose>
                                    <when test="sortBy == 'trxId'">trxId</when>
                                    <when test="sortBy == 'orgId'">orgId</when>
                                    <when test="sortBy == 'ioType'">ioType</when>
                                    <when test="sortBy == 'messageId'">messageId</when>
                                    <when test="sortBy == 'trxName'">trxName</when>
                                    <when test="sortBy == 'lastUpdateDtime'">lastUpdateDtime</when>
                                    <otherwise>trxId</otherwise>
                                </choose>
                                <choose>
                                    <when test="sortDirection == 'ASC'">ASC</when>
                                    <otherwise>DESC</otherwise>
                                </choose>
                            </when>
                            <otherwise>
                                ORDER BY lastUpdateDtime DESC
                            </otherwise>
                        </choose>
                    ) INNER_QRY
                    WHERE ROWNUM <![CDATA[<=]]> #{endRow}
                )
                WHERE RNUM > #{offset}
            </when>
            <otherwise>
                SELECT * FROM (
                    SELECT INNER_QRY.*, ROWNUM AS RNUM FROM (
                        SELECT <include refid="columnsWithTrxAsAliases"/>
                        <include refid="fromTrxMessageWithTrx"/>
                        <where>
                            <include refid="searchConditionsTrxMessage"/>
                        </where>
                        <choose>
                            <when test="sortBy != null and sortBy != '' and sortDirection != null and sortDirection != ''">
                                ORDER BY
                                <choose>
                                    <when test="sortBy == 'trxId'">tm.TRX_ID</when>
                                    <when test="sortBy == 'orgId'">tm.ORG_ID</when>
                                    <when test="sortBy == 'ioType'">tm.IO_TYPE</when>
                                    <when test="sortBy == 'messageId'">tm.MESSAGE_ID</when>
                                    <when test="sortBy == 'trxName'">t.TRX_NAME</when>
                                    <when test="sortBy == 'lastUpdateDtime'">tm.LAST_UPDATE_DTIME</when>
                                    <otherwise>tm.TRX_ID</otherwise>
                                </choose>
                                <choose>
                                    <when test="sortDirection == 'ASC'">ASC</when>
                                    <otherwise>DESC</otherwise>
                                </choose>
                            </when>
                            <otherwise>
                                ORDER BY tm.LAST_UPDATE_DTIME DESC
                            </otherwise>
                        </choose>
                    ) INNER_QRY
                    WHERE ROWNUM <![CDATA[<=]]> #{endRow}
                )
                WHERE RNUM > #{offset}
            </otherwise>
        </choose>
    </select>

    <!-- 검색 건수 조회 -->
    <select id="countAllWithTrxAndSearch" resultType="long">
        <choose>
            <when test="deduplicate">
                SELECT COUNT(*) FROM (
                    SELECT
                        ROW_NUMBER() OVER (
                            PARTITION BY tm.ORG_ID, tm.TRX_ID
                            ORDER BY
                                CASE tm.IO_TYPE
                                    WHEN 'O' THEN 1
                                    WHEN 'I' THEN 2
                                    WHEN 'Q' THEN 3
                                    WHEN 'S' THEN 4
                                    ELSE 999
                                END
                        ) as rn
                    <include refid="fromTrxMessageWithTrx"/>
                    <where>
                        <include refid="searchConditionsTrxMessage"/>
                    </where>
                )
                WHERE rn = 1
            </when>
            <otherwise>
                SELECT COUNT(*)
                <include refid="fromTrxMessageWithTrx"/>
                <where>
                    <include refid="searchConditionsTrxMessage"/>
                </where>
            </otherwise>
        </choose>
    </select>

    <!-- trxId와 ioType으로 모든 메시지 조회 (Trx 상세 정보 포함) -->
    <select id="findAllByTrxIdAndIoTypeWithTrx" resultType="com.example.admin_demo.domain.trxmessage.dto.TrxMessageWithTrxResponse">
        SELECT <include refid="columnsWithTrxAsAliases"/>
        <include refid="fromTrxMessageWithTrx"/>
        WHERE tm.TRX_ID = #{trxId}
          AND tm.IO_TYPE = #{ioType}
        ORDER BY tm.ORG_ID, tm.EXECUTE_SEQ
    </select>

    <!-- ==================== 전문 조회 (Browse) ==================== -->

    <!-- 전문 조회 검색 조건 -->
    <sql id="searchConditionsBrowse">
        <if test="searchField != null and searchValue != null and searchValue != ''">
            <choose>
                <when test="searchField == 'messageName'">
                    AND m.MESSAGE_NAME LIKE '%' || #{searchValue} || '%'
                </when>
                <when test="searchField == 'messageId'">
                    AND m.MESSAGE_ID LIKE '%' || #{searchValue} || '%'
                </when>
                <when test="searchField == 'messageDesc'">
                    AND m.MESSAGE_DESC LIKE '%' || #{searchValue} || '%'
                </when>
            </choose>
        </if>
        <if test="orgIdFilter != null and orgIdFilter != ''">
            AND m.ORG_ID = #{orgIdFilter}
        </if>
        <if test="ioTypeFilter != null and ioTypeFilter != ''">
            <choose>
                <when test='ioTypeFilter == "O"'>
                    AND m.REQUEST_YN IN ('Q', 'O')
                </when>
                <when test='ioTypeFilter == "I"'>
                    AND m.REQUEST_YN IN ('S', 'I')
                </when>
                <otherwise>
                    AND m.REQUEST_YN = #{ioTypeFilter}
                </otherwise>
            </choose>
        </if>
    </sql>

    <!-- 전문 목록 조회 (네이티브 ROWNUM 페이징) -->
    <select id="browseMessagesWithPaging" resultType="com.example.admin_demo.domain.trxmessage.dto.MessageBrowseResponse">
        SELECT * FROM (
            SELECT INNER_QRY.*, ROWNUM AS RNUM FROM (
                SELECT
                    m.ORG_ID as orgId,
                    m.MESSAGE_ID as messageId,
                    m.MESSAGE_NAME as messageName,
                    m.MESSAGE_TYPE as messageType,
                    m.MESSAGE_DESC as messageDesc,
                    m.HEADER_YN as headerYn
                FROM FWK_MESSAGE m
                <where>
                    <include refid="searchConditionsBrowse"/>
                </where>
                ORDER BY m.ORG_ID, m.MESSAGE_ID
            ) INNER_QRY
            WHERE ROWNUM <![CDATA[<=]]> #{endRow}
        )
        WHERE RNUM > #{offset}
    </select>

    <!-- 전문 조회 건수 -->
    <select id="countBrowseMessages" resultType="long">
        SELECT COUNT(*)
        FROM FWK_MESSAGE m
        <where>
            <include refid="searchConditionsBrowse"/>
        </where>
    </select>


</mapper>
