<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin_demo.domain.code.mapper.CodeMapper">

    <select id="selectResponseById"
            resultType="com.example.admin_demo.domain.code.dto.CodeResponse">
        SELECT
            CODE_GROUP_ID AS codeGroupId, CODE AS code, CODE_NAME AS codeName,
            CODE_DESC AS codeDesc, SORT_ORDER AS sortOrder, USE_YN AS useYn,
            CODE_ENGNAME AS codeEngname, LAST_UPDATE_DTIME AS lastUpdateDtime,
            LAST_UPDATE_USER_ID AS lastUpdateUserId
        FROM FWK_CODE
        WHERE CODE_GROUP_ID = #{codeGroupId} AND CODE = #{code}
    </select>

    <insert id="insert">
        INSERT INTO FWK_CODE (
            CODE_GROUP_ID, CODE, CODE_NAME, CODE_DESC, SORT_ORDER,
            USE_YN, CODE_ENGNAME, LAST_UPDATE_DTIME, LAST_UPDATE_USER_ID
        ) VALUES (
            #{dto.codeGroupId},
            #{dto.code},
            #{dto.codeName},
            #{dto.codeDesc, jdbcType=VARCHAR},
            #{dto.sortOrder},
            #{dto.useYn, jdbcType=VARCHAR},
            #{dto.codeEngname, jdbcType=VARCHAR},
            #{lastUpdateDtime},
            #{lastUpdateUserId}
        )
    </insert>

    <update id="update">
        UPDATE FWK_CODE
        SET CODE_NAME = #{dto.codeName, jdbcType=VARCHAR},
            CODE_DESC = #{dto.codeDesc, jdbcType=VARCHAR},
            SORT_ORDER = #{dto.sortOrder, jdbcType=NUMERIC},
            USE_YN = #{dto.useYn, jdbcType=VARCHAR},
            CODE_ENGNAME = #{dto.codeEngname, jdbcType=VARCHAR},
            LAST_UPDATE_DTIME = #{lastUpdateDtime, jdbcType=VARCHAR},
            LAST_UPDATE_USER_ID = #{lastUpdateUserId, jdbcType=VARCHAR}
        WHERE CODE_GROUP_ID = #{codeGroupId} AND CODE = #{code}
    </update>

    <delete id="deleteById">
        DELETE FROM FWK_CODE WHERE CODE_GROUP_ID = #{codeGroupId} AND CODE = #{code}
    </delete>

    <delete id="deleteByCodeGroupId">
        DELETE FROM FWK_CODE WHERE CODE_GROUP_ID = #{codeGroupId}
    </delete>

    <select id="countByCodeGroupIdAndCode" resultType="int">
        SELECT COUNT(*) FROM FWK_CODE WHERE CODE_GROUP_ID = #{codeGroupId} AND CODE = #{code}
    </select>

    <select id="countByCodeGroupId" resultType="long">
        SELECT COUNT(*) FROM FWK_CODE WHERE CODE_GROUP_ID = #{codeGroupId}
    </select>


    <!-- ==================== Common (merged) ==================== -->


    <sql id="fromCode">
        FROM FWK_CODE c
    </sql>

    <sql id="fromCodeWithGroup">
        FROM FWK_CODE c
        INNER JOIN FWK_CODE_GROUP cg ON c.CODE_GROUP_ID = cg.CODE_GROUP_ID
    </sql>


    <!-- ==================== Query (merged) ==================== -->


    <sql id="searchConditionsWithGroup">
        <if test="codeGroupId != null and codeGroupId != ''">
            c.CODE_GROUP_ID = #{codeGroupId}
        </if>
        <if test="searchValue != null and searchValue != ''">
            <choose>
                <when test="searchField == 'code'">
                    AND c.CODE LIKE '%' || #{searchValue} || '%'
                </when>
                <when test="searchField == 'name'">
                    AND c.CODE_NAME LIKE '%' || #{searchValue} || '%'
                </when>
                <otherwise>
                    AND (c.CODE LIKE '%' || #{searchValue} || '%'
                         OR c.CODE_NAME LIKE '%' || #{searchValue} || '%')
                </otherwise>
            </choose>
        </if>
    </sql>

    <select id="findAllWithGroup"
            resultType="com.example.admin_demo.domain.code.dto.CodeWithGroupResponse">
        SELECT * FROM (
            SELECT INNER_QRY.*, ROWNUM AS RNUM FROM (
                SELECT
                    c.CODE_GROUP_ID   AS codeGroupId,
                    c.CODE            AS code,
                    c.CODE_NAME       AS codeName,
                    c.CODE_DESC       AS codeDesc,
                    c.SORT_ORDER      AS sortOrder,
                    c.USE_YN          AS useYn,
                    c.CODE_ENGNAME    AS codeEngname,
                    c.LAST_UPDATE_DTIME  AS lastUpdateDtime,
                    c.LAST_UPDATE_USER_ID AS lastUpdateUserId,
                    cg.CODE_GROUP_NAME AS codeGroupName
                FROM FWK_CODE c
                INNER JOIN FWK_CODE_GROUP cg ON c.CODE_GROUP_ID = cg.CODE_GROUP_ID
                <where>
                    <include refid="searchConditionsWithGroup"/>
                </where>
                <choose>
                    <when test="sortBy != null and sortBy != ''">
                        <choose>
                            <when test="sortBy == 'codeGroupId'">ORDER BY c.CODE_GROUP_ID</when>
                            <when test="sortBy == 'codeGroupName'">ORDER BY cg.CODE_GROUP_NAME</when>
                            <when test="sortBy == 'code'">ORDER BY c.CODE</when>
                            <when test="sortBy == 'codeName'">ORDER BY c.CODE_NAME</when>
                            <when test="sortBy == 'codeDesc'">ORDER BY c.CODE_DESC</when>
                            <when test="sortBy == 'sortOrder'">ORDER BY c.SORT_ORDER</when>
                            <when test="sortBy == 'useYn'">ORDER BY c.USE_YN</when>
                            <otherwise>ORDER BY c.CODE_GROUP_ID, c.SORT_ORDER</otherwise>
                        </choose>
                        <choose>
                            <when test="sortDirection == 'DESC'"> DESC</when>
                            <otherwise> ASC</otherwise>
                        </choose>
                    </when>
                    <otherwise>
                        ORDER BY c.CODE_GROUP_ID, c.SORT_ORDER
                    </otherwise>
                </choose>
            ) INNER_QRY
            WHERE ROWNUM <![CDATA[<=]]> #{endRow}
        ) WHERE RNUM > #{offset}
    </select>

    <select id="countAllWithGroup" resultType="long">
        SELECT COUNT(*)
        FROM FWK_CODE c
        INNER JOIN FWK_CODE_GROUP cg ON c.CODE_GROUP_ID = cg.CODE_GROUP_ID
        <where>
            <include refid="searchConditionsWithGroup"/>
        </where>
    </select>

    <select id="findByIdWithGroup"
            resultType="com.example.admin_demo.domain.code.dto.CodeWithGroupResponse">
        SELECT
            c.CODE_GROUP_ID   AS codeGroupId,
            c.CODE            AS code,
            c.CODE_NAME       AS codeName,
            c.CODE_DESC       AS codeDesc,
            c.SORT_ORDER      AS sortOrder,
            c.USE_YN          AS useYn,
            c.CODE_ENGNAME    AS codeEngname,
            c.LAST_UPDATE_DTIME  AS lastUpdateDtime,
            c.LAST_UPDATE_USER_ID AS lastUpdateUserId,
            cg.CODE_GROUP_NAME AS codeGroupName
        FROM FWK_CODE c
        INNER JOIN FWK_CODE_GROUP cg ON c.CODE_GROUP_ID = cg.CODE_GROUP_ID
        WHERE c.CODE_GROUP_ID = #{codeGroupId} AND c.CODE = #{code}
    </select>

    <select id="findByCodeGroupId"
            resultType="com.example.admin_demo.domain.code.dto.CodeResponse">
        SELECT
            CODE_GROUP_ID AS codeGroupId, CODE AS code, CODE_NAME AS codeName,
            CODE_DESC AS codeDesc, SORT_ORDER AS sortOrder, USE_YN AS useYn,
            CODE_ENGNAME AS codeEngname, LAST_UPDATE_DTIME AS lastUpdateDtime,
            LAST_UPDATE_USER_ID AS lastUpdateUserId
        FROM FWK_CODE
        WHERE CODE_GROUP_ID = #{codeGroupId}
        ORDER BY SORT_ORDER
    </select>

    <!-- ==================== 엑셀 내보내기 (페이징 없음) ==================== -->

    <select id="findAllForExport"
            resultType="com.example.admin_demo.domain.code.dto.CodeWithGroupResponse">
        SELECT
            c.CODE_GROUP_ID   AS codeGroupId,
            c.CODE            AS code,
            c.CODE_NAME       AS codeName,
            c.CODE_DESC       AS codeDesc,
            c.SORT_ORDER      AS sortOrder,
            c.USE_YN          AS useYn,
            c.CODE_ENGNAME    AS codeEngname,
            c.LAST_UPDATE_DTIME  AS lastUpdateDtime,
            c.LAST_UPDATE_USER_ID AS lastUpdateUserId,
            cg.CODE_GROUP_NAME AS codeGroupName
        FROM FWK_CODE c
        INNER JOIN FWK_CODE_GROUP cg ON c.CODE_GROUP_ID = cg.CODE_GROUP_ID
        <where>
            <include refid="searchConditionsWithGroup"/>
        </where>
        <choose>
            <when test="sortBy != null and sortBy != ''">
                <choose>
                    <when test="sortBy == 'codeGroupId'">ORDER BY c.CODE_GROUP_ID</when>
                    <when test="sortBy == 'codeGroupName'">ORDER BY cg.CODE_GROUP_NAME</when>
                    <when test="sortBy == 'code'">ORDER BY c.CODE</when>
                    <when test="sortBy == 'codeName'">ORDER BY c.CODE_NAME</when>
                    <when test="sortBy == 'codeDesc'">ORDER BY c.CODE_DESC</when>
                    <when test="sortBy == 'sortOrder'">ORDER BY c.SORT_ORDER</when>
                    <when test="sortBy == 'useYn'">ORDER BY c.USE_YN</when>
                    <otherwise>ORDER BY c.CODE_GROUP_ID, c.SORT_ORDER</otherwise>
                </choose>
                <choose>
                    <when test="sortDirection == 'DESC'"> DESC</when>
                    <otherwise> ASC</otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY c.CODE_GROUP_ID, c.SORT_ORDER
            </otherwise>
        </choose>
    </select>


</mapper>
