<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
    <th:block th:fragment="classNameOptions">
        <option value="">선택</option>
        <option value="사장">사장</option>
        <option value="전무">전무</option>
        <option value="부장">부장</option>
        <option value="차장">차장</option>
        <option value="과장">과장</option>
        <option value="대리">대리</option>
        <option value="계장">계장</option>
        <option value="사원">사원</option>
        <option value="SI">SI</option>
        <option value="SM">SM</option>
    </th:block>
    </body>
</html>