<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="search" class="card border p-2 mb-3">
    <div class="d-flex flex-wrap align-items-center gap-2 mb-1 justify-content-between">
        <div class="d-flex align-items-center gap-2 flex-grow-1 flex-wrap">
            <div class="d-flex align-items-center gap-2">
                <label class="form-label mb-0 small fw-medium">게이트웨이</label>
                <select id="searchGwId" class="form-select form-select-sm col-w-200">
                    <option value="">전체</option>
                </select>
            </div>

            <div class="d-flex align-items-center gap-2">
                <label class="form-label mb-0 small fw-medium">기관</label>
                <select id="searchOrgId" class="form-select form-select-sm col-w-200">
                    <option value="">전체</option>
                </select>
            </div>
        </div>

        <div class="d-flex align-items-center gap-2 flex-shrink-0">
            <select id="appMappingPageSize" class="form-select form-select-sm sp-limit-select">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <span class="fs-sm sp-search-label">건씩</span>
            <button type="button" class="btn btn-sm btn-primary" onclick="AppMappingList.load(1)">조회</button>
        </div>
    </div>

    <div class="d-flex flex-wrap align-items-center gap-2 mb-1">
        <div class="d-flex align-items-center gap-2 flex-grow-1 flex-wrap">
            <div class="d-flex align-items-center gap-2">
                <label class="form-label mb-0 small fw-medium">전문식별자</label>
                <input id="searchReqIdCode" type="text" class="form-control form-control-sm col-w-200" />
            </div>

            <div class="d-flex align-items-center gap-2">
                <label class="form-label mb-0 small fw-medium">거래</label>
                <input id="searchTrxKeyword" type="text" class="form-control form-control-sm col-w-200" />
            </div>

            <div class="d-flex align-items-center gap-2">
                <label class="form-label mb-0 small fw-medium">요청처리 App</label>
                <input id="searchBizAppId" type="text" class="form-control form-control-sm col-w-200" />
            </div>
        </div>
    </div>
</div>
</body>
</html>
