<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin_demo.domain.codegroup.mapper.CodeGroupMapper">

    <select id="selectResponseById"
            resultType="com.example.admin_demo.domain.codegroup.dto.CodeGroupResponse">
        SELECT cg.CODE_GROUP_ID      AS codeGroupId,
               cg.CODE_GROUP_NAME    AS codeGroupName,
               cg.CODE_GROUP_DESC    AS codeGroupDesc,
               cg.LAST_UPDATE_DTIME  AS lastUpdateDtime,
               cg.LAST_UPDATE_USER_ID AS lastUpdateUserId,
               cg.BIZ_GROUP_ID       AS bizGroupId
        FROM FWK_CODE_GROUP cg
        WHERE cg.CODE_GROUP_ID = #{codeGroupId}
    </select>

    <insert id="insert">
        INSERT INTO FWK_CODE_GROUP (
            CODE_GROUP_ID, CODE_GROUP_NAME, CODE_GROUP_DESC,
            LAST_UPDATE_DTIME, LAST_UPDATE_USER_ID, BIZ_GROUP_ID
        ) VALUES (
            #{dto.codeGroupId},
            #{dto.codeGroupName},
            #{dto.codeGroupDesc, jdbcType=VARCHAR},
            #{lastUpdateDtime},
            #{lastUpdateUserId},
            #{dto.bizGroupId, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update">
        UPDATE FWK_CODE_GROUP
        SET CODE_GROUP_NAME = #{dto.codeGroupName},
            CODE_GROUP_DESC = #{dto.codeGroupDesc, jdbcType=VARCHAR},
            LAST_UPDATE_DTIME = #{lastUpdateDtime},
            LAST_UPDATE_USER_ID = #{lastUpdateUserId},
            BIZ_GROUP_ID = #{dto.bizGroupId, jdbcType=VARCHAR}
        WHERE CODE_GROUP_ID = #{codeGroupId}
    </update>

    <delete id="deleteById">
        DELETE FROM FWK_CODE_GROUP WHERE CODE_GROUP_ID = #{codeGroupId}
    </delete>

    <select id="countByCodeGroupId" resultType="int">
        SELECT COUNT(*) FROM FWK_CODE_GROUP WHERE CODE_GROUP_ID = #{codeGroupId}
    </select>

    <select id="countByCodeGroupName" resultType="int">
        SELECT COUNT(*) FROM FWK_CODE_GROUP WHERE CODE_GROUP_NAME = #{codeGroupName}
    </select>



    <!-- ==================== Common (merged) ==================== -->


    <sql id="baseColumns">
        cg.CODE_GROUP_ID, cg.CODE_GROUP_NAME, cg.CODE_GROUP_DESC,
        cg.LAST_UPDATE_DTIME, cg.LAST_UPDATE_USER_ID, cg.BIZ_GROUP_ID
    </sql>

    <sql id="fromCodeGroup">
        FROM FWK_CODE_GROUP cg
    </sql>


    <!-- ==================== Query (merged) ==================== -->


    <resultMap id="CodeGroupWithCodesResultMap"
               type="com.example.admin_demo.domain.codegroup.dto.CodeGroupWithCodesResponse">
        <id property="codeGroupId" column="CODE_GROUP_ID"/>
        <result property="codeGroupName" column="CODE_GROUP_NAME"/>
        <result property="codeGroupDesc" column="CODE_GROUP_DESC"/>
        <result property="lastUpdateDtime" column="LAST_UPDATE_DTIME"/>
        <result property="lastUpdateUserId" column="LAST_UPDATE_USER_ID"/>
        <result property="bizGroupId" column="BIZ_GROUP_ID"/>
        <collection property="codes" ofType="com.example.admin_demo.domain.code.dto.CodeResponse"
                    notNullColumn="CODE">
            <result property="codeGroupId" column="C_CODE_GROUP_ID"/>
            <result property="code" column="CODE"/>
            <result property="codeName" column="CODE_NAME"/>
            <result property="codeDesc" column="CODE_DESC"/>
            <result property="sortOrder" column="SORT_ORDER"/>
            <result property="useYn" column="USE_YN"/>
            <result property="codeEngname" column="CODE_ENGNAME"/>
            <result property="lastUpdateDtime" column="C_LAST_UPDATE_DTIME"/>
            <result property="lastUpdateUserId" column="C_LAST_UPDATE_USER_ID"/>
        </collection>
    </resultMap>

    <select id="findAllWithCodeCount"
            resultType="com.example.admin_demo.domain.codegroup.dto.CodeGroupResponse">
        SELECT
            cg.CODE_GROUP_ID      AS codeGroupId,
            cg.CODE_GROUP_NAME    AS codeGroupName,
            cg.CODE_GROUP_DESC    AS codeGroupDesc,
            cg.LAST_UPDATE_DTIME  AS lastUpdateDtime,
            cg.LAST_UPDATE_USER_ID AS lastUpdateUserId,
            cg.BIZ_GROUP_ID       AS bizGroupId,
            (SELECT COUNT(*) FROM FWK_CODE c WHERE c.CODE_GROUP_ID = cg.CODE_GROUP_ID) AS codeCount
        FROM FWK_CODE_GROUP cg
        ORDER BY cg.CODE_GROUP_ID
    </select>

    <sql id="codeGroupSearchConditions">
        <if test="searchValue != null and searchValue != ''">
            <choose>
                <when test="searchField == 'codeGroupId'">
                    cg.CODE_GROUP_ID LIKE '%' || #{searchValue} || '%'
                </when>
                <when test="searchField == 'codeGroupName'">
                    cg.CODE_GROUP_NAME LIKE '%' || #{searchValue} || '%'
                </when>
                <otherwise>
                    (cg.CODE_GROUP_ID LIKE '%' || #{searchValue} || '%'
                     OR cg.CODE_GROUP_NAME LIKE '%' || #{searchValue} || '%')
                </otherwise>
            </choose>
        </if>
    </sql>

    <select id="findAllWithCodeCountAndSearch"
            resultType="com.example.admin_demo.domain.codegroup.dto.CodeGroupResponse">
        SELECT * FROM (
            SELECT INNER_QRY.*, ROWNUM AS RNUM FROM (
                SELECT
                    cg.CODE_GROUP_ID      AS codeGroupId,
                    cg.CODE_GROUP_NAME    AS codeGroupName,
                    cg.CODE_GROUP_DESC    AS codeGroupDesc,
                    cg.LAST_UPDATE_DTIME  AS lastUpdateDtime,
                    cg.LAST_UPDATE_USER_ID AS lastUpdateUserId,
                    cg.BIZ_GROUP_ID       AS bizGroupId,
                    (SELECT COUNT(*) FROM FWK_CODE c WHERE c.CODE_GROUP_ID = cg.CODE_GROUP_ID) AS codeCount
                FROM FWK_CODE_GROUP cg
                <where>
                    <include refid="codeGroupSearchConditions"/>
                </where>
                <choose>
                    <when test="sortBy != null and sortBy != ''">
                        <choose>
                            <when test="sortBy == 'codeGroupId'">ORDER BY cg.CODE_GROUP_ID</when>
                            <when test="sortBy == 'codeGroupName'">ORDER BY cg.CODE_GROUP_NAME</when>
                            <when test="sortBy == 'codeCount'">ORDER BY codeCount</when>
                            <when test="sortBy == 'codeGroupDesc'">ORDER BY cg.CODE_GROUP_DESC</when>
                            <otherwise>ORDER BY cg.CODE_GROUP_ID</otherwise>
                        </choose>
                        <choose>
                            <when test="sortDirection == 'DESC'"> DESC</when>
                            <otherwise> ASC</otherwise>
                        </choose>
                    </when>
                    <otherwise>
                        ORDER BY cg.CODE_GROUP_ID
                    </otherwise>
                </choose>
            ) INNER_QRY
            WHERE ROWNUM <![CDATA[<=]]> #{endRow}
        ) WHERE RNUM > #{offset}
    </select>

    <select id="countAllWithCodeCountAndSearch" resultType="long">
        SELECT COUNT(*)
        FROM FWK_CODE_GROUP cg
        <where>
            <include refid="codeGroupSearchConditions"/>
        </where>
    </select>

    <select id="findByIdWithCodes" resultMap="CodeGroupWithCodesResultMap">
        SELECT
            cg.CODE_GROUP_ID, cg.CODE_GROUP_NAME, cg.CODE_GROUP_DESC,
            cg.LAST_UPDATE_DTIME, cg.LAST_UPDATE_USER_ID, cg.BIZ_GROUP_ID,
            c.CODE_GROUP_ID AS C_CODE_GROUP_ID, c.CODE, c.CODE_NAME, c.CODE_DESC,
            c.SORT_ORDER, c.USE_YN, c.CODE_ENGNAME,
            c.LAST_UPDATE_DTIME AS C_LAST_UPDATE_DTIME,
            c.LAST_UPDATE_USER_ID AS C_LAST_UPDATE_USER_ID
        FROM FWK_CODE_GROUP cg
        LEFT JOIN FWK_CODE c ON cg.CODE_GROUP_ID = c.CODE_GROUP_ID
        WHERE cg.CODE_GROUP_ID = #{codeGroupId}
        ORDER BY c.SORT_ORDER
    </select>

    <select id="findByBizGroupId"
            resultType="com.example.admin_demo.domain.codegroup.dto.CodeGroupResponse">
        SELECT CODE_GROUP_ID AS codeGroupId, CODE_GROUP_NAME AS codeGroupName,
               CODE_GROUP_DESC AS codeGroupDesc, LAST_UPDATE_DTIME AS lastUpdateDtime,
               LAST_UPDATE_USER_ID AS lastUpdateUserId, BIZ_GROUP_ID AS bizGroupId
        FROM FWK_CODE_GROUP WHERE BIZ_GROUP_ID = #{bizGroupId}
        ORDER BY CODE_GROUP_ID
    </select>

    <select id="findAllForExport"
            resultType="com.example.admin_demo.domain.codegroup.dto.CodeGroupResponse">
        SELECT
            cg.CODE_GROUP_ID       AS codeGroupId,
            cg.CODE_GROUP_NAME     AS codeGroupName,
            cg.CODE_GROUP_DESC     AS codeGroupDesc,
            cg.LAST_UPDATE_DTIME   AS lastUpdateDtime,
            cg.LAST_UPDATE_USER_ID AS lastUpdateUserId,
            cg.BIZ_GROUP_ID        AS bizGroupId,
            (SELECT COUNT(*) FROM FWK_CODE c WHERE c.CODE_GROUP_ID = cg.CODE_GROUP_ID) AS codeCount
        FROM FWK_CODE_GROUP cg
        <where>
            <include refid="codeGroupSearchConditions"/>
        </where>
        <choose>
            <when test="sortBy != null and sortBy != ''">
                <choose>
                    <when test="sortBy == 'codeGroupId'">ORDER BY cg.CODE_GROUP_ID</when>
                    <when test="sortBy == 'codeGroupName'">ORDER BY cg.CODE_GROUP_NAME</when>
                    <when test="sortBy == 'codeCount'">ORDER BY codeCount</when>
                    <when test="sortBy == 'codeGroupDesc'">ORDER BY cg.CODE_GROUP_DESC</when>
                    <otherwise>ORDER BY cg.CODE_GROUP_ID</otherwise>
                </choose>
                <choose>
                    <when test="sortDirection == 'DESC'"> DESC</when>
                    <otherwise> ASC</otherwise>
                </choose>
            </when>
            <otherwise>ORDER BY cg.CODE_GROUP_ID</otherwise>
        </choose>
    </select>


</mapper>
